{% load static %}

<header id="navbar" class="fixed inset-x-0 top-0 bg-gray-800 shadow-lg">
  <nav class="container mx-auto flex justify-between items-center p-4">
    <a href="{% url 'home' %}" class="flex items-center text-white">
      <div class="bg-cover bg-center rounded-full w-8 h-8" style="background-image: url('{% static 'images/USBA_PROJECT_navbar_icon.png' %}');"></div>
      Project USBA Simplon
    </a>
    <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-expanded="false" class="text-white hover:text-blue-400 focus:text-blue-400">
      <span class="icon-bar h-1 w-6 my-1 bg-white"></span>
      <span class="icon-bar h-1 w-6 my-1 bg-white"></span>
      <span class="icon-bar h-1 w-6 my-1 bg-white"></span>
    </button>
    <div id="navbar-menu" aria-labelledby="navbar-toggle">
      <ul class="flex flex-col lg:flex-row list-none mt-4 lg:mt-0 gap-6">
        <li class="navbar-item"><a class="p-2 rounded text-white hover:bg-gray-700 hover:text-white" href="{% url 'home' %}">Home</a></li>
        <li class="navbar-item"><a class="p-2 rounded text-white hover:bg-gray-700 hover:text-white" href="{% url 'about' %}">About Us</a></li>
        <li class="navbar-item"><a class="p-2 rounded text-white hover:bg-gray-700 hover:text-white" href="{% url 'formulaire' %}">Form Prediction</a></li>
        <li class="navbar-item"><a class="p-2 rounded text-white hover:bg-gray-700 hover:text-white" href="{% url 'contact' %}">Contact</a></li>
        
        <!-- Authentication Links -->
        {% if user.is_authenticated %}
          <li class="rounded text-red-500 hover:bg-gray-700 hover:text-white">{{ user.get_username }}</li>
          <li class="text-white"><a href="{% url 'logout' %}" class="hover:bg-gray-700">Log out</a></li>
        {% else %}
          <li><a class="p-2 rounded text-white hover:bg-gray-700 hover:text-white" href="{% url 'login' %}">Login</a></li>
          <li><a class="p-2 rounde-lg text-white hover:bg-gray-700 hover:text-white" href="{% url 'register' %}">Register</a></li>
          
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
<div class="mt-30"></div> 
