{% extends "base.html" %}
{% load static %}
{% block content %}








<div id="home" class="bg-cover bg-fixed bg-center; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="intro-text text-center p-5 bg-white bg-opacity-75 rounded-lg shadow-lg">
      <h1 class="text-4xl lg:text-5xl font-bold text-gray-800">About us </h1>
      <p class="mt-4 text-lg text-gray-700">provident voluptatem amet alias? Doloribus, blanditiis quaerat! Nisi voluptatum est necessitatibus odit repudiandae culpa quos maiores placeat Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, cupiditate temporibus? Nihil asperiores aliquid, quos ea numquam neque dignissimos aspernatur autem dolore fuga reprehenderit saepe pariatur, a earum possimus nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Et earum explicabo consectetur, beatae odio fugiat impedit dicta saepe itaque id veritatis corrupti molestias totam eligendi amet ipsa iusto? Impedit, suscipit? </p>
      
    </div>
  </div>
{% endblock content %}