{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="home" class="bg-cover bg-fixed bg-center" style="background-image: url('{% static 'images/background_sba.png' %}'); height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="intro-text text-center p-5 bg-white bg-opacity-75 rounded-lg shadow-lg">
    <h1 class="text-4xl lg:text-5xl font-bold text-gray-800">Welcome to USBA Project Simplon !</h1>
    <p class="mt-4 text-lg text-gray-700">Discover our world of modern design. Browse through our services, read our stories, and get to predictions.</p>
    <a href="{% url 'about' %}" class="mt-8 inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition-colors duration-300">Explore Now</a>
  </div>
</div>

{% endblock content %}
