

:root {
    --navbar-bg-color: hsl(210, 50%, 15%); /* Dark navy background */
    --navbar-text-color: hsl(210, 20%, 80%); /* Light blue-gray text */
    --navbar-text-color-focus: hsl(203, 100%, 50%); /* Vibrant blue for focus/hover text */
    --navbar-bg-contrast: hsl(210, 50%, 25%); /* Slightly lighter navy for hover background */
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    
    
  }
  .container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }
  #navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
  }
  .navbar-item {
    margin: 0.4em;
    width: 100%;
  }
  
  .home-link,
  .navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
  }
  
  .home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
  }
  
  .navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
  }
  
  .navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
  }
  .navbar-logo {
    background-color: var(--navbar-text-color-focus); /* Couleur de secours si l'image ne charge pas */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
    background-image: url('/static/images/USBA_PROJECT_navbar_icon.png'); /* Chemin corrigé */
    background-size: cover; /* Assure que l'image couvre tout le div */
    background-position: center; /* Centre l'image */
  }
  #navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
  }
  #navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
  }
  #navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
  }
  #navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  #navbar-toggle[aria-expanded="true"] + #navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
  }
  .navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
    padding: 1em;
  }
  @media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
      display: none;
    }
  
    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
  
  
    .account-links {
        position: absolute;
        left: 0;
        top: 0;
        padding: var(--navbar-height) 1rem;
        height: var(--navbar-height);
        display: flex;
        align-items: center;
        }

        .navbar-text {
            margin-right: 1rem;
            color: var(--navbar-text-color);
        }

        .navbar-container {
            justify-content: space-between;
        }

        .navbar-links {
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 1.4rem; /* Ajoute de l'espace à droite */
        }

        .navbar-item {
            margin: 0 0.4em;
        }

        .user-info {
            display: flex;
            align-items: center;
            margin-left: auto; /* Pousse les informations de l'utilisateur à droite */
        }
        }

.form-container {
display: flex;
justify-content: center;
align-items: start;
gap: 20px; /* Ajustez l'espace entre l'image et le formulaire */
}

.form-image img {
max-width: 200px; /* Ajustez la largeur de l'image */
height: auto;
}

.form-content {
max-width: 400px; /* Ajustez selon la largeur souhaitée pour le formulaire */
}

.form-field {
margin-bottom: 10px; /* Espace entre les champs */
}

.form-field label {
display: block;
margin-bottom: 5px; /* Espace entre le label et le champ */
}

.form-field input, .form-field textarea, .form-field select {
width: 100%;
padding: 8px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 4px;
}

button[type="submit"] {
background-color: #007bff;
color: white;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
}

button[type="submit"]:hover {
background-color: #0056b3;
}

#home {
  background-image: url('../images/background_sba.png');
  background-size: cover;
  background-attachment: fixed;
  width : auto;
  height: auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,.1);
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}
.form-signin button {
  width: 100%;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.form-signin button:hover {
  background-color: #0056b3;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group input {
  height: auto;
  border-radius: 2rem;
}
.form-label-group label {
  display: block;
}

.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,.1);
}
.form-signup input[type="text"],
.form-signup input[type="email"],
.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  height: 40px;
  padding: 10px;
}
.form-signup button {
  width: 100%;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.form-signup button:hover {
  background-color: #0056b3;
}
.messages {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.messages li {
  background-color: #f2dede;
  color: #a94442;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}


#home {
  background-image: url("../images/background_sba.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 48px;
  color: #333;
}
.intro-text {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
.cta-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}
.cta-button:hover {
  background-color: #0056b3;
}

